# Assignment 5 Questions

## Problem Statement

### Import Libraries

In [12]:
import pandas as pd
import io
import requests
import seaborn as sns

#### Task 1:

Read the dataset from the bellow link

url = https://raw.githubusercontent.com/hadley/data-baby-names/master/baby-names.csv

In [4]:
url="https://raw.githubusercontent.com/hadley/data-baby-names/master/baby-names.csv"
df_request=requests.get(url).content

In [6]:
df= pd.read_csv(io.StringIO(df_request.decode('utf-8')))

In [7]:
df.head()

   year     name   percent  sex
0  1880     John  0.081541  boy
1  1880  William  0.080511  boy
2  1880    James  0.050057  boy
3  1880  Charles  0.045167  boy
4  1880   George  0.043292  boy

In [8]:
df.shape

(258000, 4)

In [9]:
df.isna().sum()

year       0
name       0
percent    0
sex        0
dtype: int64

Questions

1. Delete unnamed columns

2. Show the distribution of male and female

In [11]:
df.sex.value_counts()

boy     129000
girl    129000
Name: sex, dtype: int64

#### Both(boy and girl) have equal distribution

3. Show the top 5 most preferred names

In [21]:
# using head()
df.name.value_counts().head()

Jessie       258
Leslie       247
Guadalupe    244
Jean         244
Lee          240
Name: name, dtype: int64

In [23]:
# using sort_values()
df['name'].value_counts()[:5].sort_values(ascending=False)

Jessie       258
Leslie       247
Jean         244
Guadalupe    244
Lee          240
Name: name, dtype: int64

In [22]:
# get top 5 most frequent names
n = 5
df['name'].value_counts()[:n].index.tolist()

['Jessie', 'Leslie', 'Guadalupe', 'Jean', 'Lee']

4. What is the median name occurence in the dataset

In [26]:
df.median(axis=0)

year       1944.000000
percent       0.000164
dtype: float64

5. Distribution of male and female born count by states

#### Task 2:

We have the min and max temperatures in a city In India for each months of the year. We
would like to find a function to describe this and show it graphically, the dataset given below.

    Task:
    1. fitting it to the periodic function
    2. plot the fit
    
    Data
    Max = 39, 41, 43, 47, 49, 51, 45, 38, 37, 29, 27, 25
    Min = 21, 23, 27, 28, 32, 35, 31, 28, 21, 19, 17, 18